In [4]:
import pandas as pd
import requests

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_best-selling_manga"

In [6]:
html = requests.get(url)

In [7]:
html

In [8]:
dfs = pd.read_html(url)

In [9]:
dfs[1]

                      Manga series  ... Average sales per volume[b]
0                        One Piece  ...                4.85 million
1                         Golgo 13  ...                1.49 million
2                      Dragon Ball  ...                6.19 million
3                           Naruto  ...                3.47 million
4                  Detective Conan  ...                2.50 million
5                         Doraemon  ...                3.77 million
6       KochiKame: Tokyo Beat Cops  ...                0.77 million
7   Demon Slayer: Kimetsu no Yaiba  ...                6.52 million
8                 Crayon Shin-chan  ...                2.55 million
9                         Oishinbo  ...                1.21 million
10                          Bleach  ...                1.62 million
11                       Slam Dunk  ...                3.87 million
12        JoJo's Bizarre Adventure  ...                0.91 million
13                       Astro Boy  ...                4.34 million
14                 Attack on Titan  ...                2.94 million
15          Fist of the North Star  ...                3.70 million
16        The Kindaichi Case Files  ...                1.14 million
17                           Touch  ...                3.84 million

[18 rows x 8 columns]

In [10]:
df=dfs[1]

In [10]:
df.columns

Index(['Manga series', 'Author(s)', 'Publisher', 'Demographic',
       'No. of collectedvolumes', 'Serialized', 'Approximate sales',
       'Average sales per volume[b]'],
      dtype='object')

In [14]:
df.sort_values(by="Average sales per volume[b]", ascending=False)

                      Manga series  ... Average sales per volume[b]
7   Demon Slayer: Kimetsu no Yaiba  ...                6.52 million
2                      Dragon Ball  ...                6.19 million
0                        One Piece  ...                4.85 million
13                       Astro Boy  ...                4.34 million
11                       Slam Dunk  ...                3.87 million
17                           Touch  ...                3.84 million
5                         Doraemon  ...                3.77 million
15          Fist of the North Star  ...                3.70 million
3                           Naruto  ...                3.47 million
14                 Attack on Titan  ...                2.94 million
8                 Crayon Shin-chan  ...                2.55 million
4                  Detective Conan  ...                2.50 million
10                          Bleach  ...                1.62 million
1                         Golgo 13  ...                1.49 million
9                         Oishinbo  ...                1.21 million
16        The Kindaichi Case Files  ...                1.14 million
12        JoJo's Bizarre Adventure  ...                0.91 million
6       KochiKame: Tokyo Beat Cops  ...                0.77 million

[18 rows x 8 columns]

In [21]:
dfg = df.columns[0]

In [22]:
dfg

'Manga series'

In [24]:
df.tail

<bound method NDFrame.tail of                       Manga series  ... Average sales per volume[b]
0                        One Piece  ...                4.85 million
1                         Golgo 13  ...                1.49 million
2                      Dragon Ball  ...                6.19 million
3                           Naruto  ...                3.47 million
4                  Detective Conan  ...                2.50 million
5                         Doraemon  ...                3.77 million
6       KochiKame: Tokyo Beat Cops  ...                0.77 million
7   Demon Slayer: Kimetsu no Yaiba  ...                6.52 million
8                 Crayon Shin-chan  ...                2.55 million
9                         Oishinbo  ...                1.21 million
10                          Bleach  ...                1.62 million
11                       Slam Dunk  ...                3.87 million
12        JoJo's Bizarre Adventure  ...                0.91 million
13                       Astro Boy  ...                4.34 million
14                 Attack on Titan  ...                2.94 million
15          Fist of the North Star  ...                3.70 million
16        The Kindaichi Case Files  ...                1.14 million
17                           Touch  ...                3.84 million

[18 rows x 8 columns]>

In [25]:
df["Approximate sales"].str.replace('million','')

0        490 [2][d]
1           300 [3]
2     260 [4][e][f]
3       250 [11][g]
4       250 [12][i]
5          170 [13]
6     156.5 [14][j]
7          150 [15]
8       148 [k][16]
9          135 [17]
10      120 [18][l]
11      120 [19][m]
12      120 [20][n]
13         100 [21]
14         100 [22]
15      100 [23][o]
16         100 [24]
17         100 [25]
Name: Approximate sales, dtype: object

In [27]:
df.columns[1]

'Author(s)'

In [13]:
df.columns=['A','B','C','D','E','F','G','H']

In [14]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

In [22]:
df

                              name  ...             H
0                        One Piece  ...  4.85 million
1                         Golgo 13  ...  1.49 million
2                      Dragon Ball  ...  6.19 million
3                           Naruto  ...  3.47 million
4                  Detective Conan  ...  2.50 million
5                         Doraemon  ...  3.77 million
6       KochiKame: Tokyo Beat Cops  ...  0.77 million
7   Demon Slayer: Kimetsu no Yaiba  ...  6.52 million
8                 Crayon Shin-chan  ...  2.55 million
9                         Oishinbo  ...  1.21 million
10                          Bleach  ...  1.62 million
11                       Slam Dunk  ...  3.87 million
12        JoJo's Bizarre Adventure  ...  0.91 million
13                       Astro Boy  ...  4.34 million
14                 Attack on Titan  ...  2.94 million
15          Fist of the North Star  ...  3.70 million
16        The Kindaichi Case Files  ...  1.14 million
17                           Touch  ...  3.84 million

[18 rows x 8 columns]

In [23]:
df=df.rename(columns={'A':'name'})

In [20]:
df

                                 A  ...             H
0                        One Piece  ...  4.85 million
1                         Golgo 13  ...  1.49 million
2                      Dragon Ball  ...  6.19 million
3                           Naruto  ...  3.47 million
4                  Detective Conan  ...  2.50 million
5                         Doraemon  ...  3.77 million
6       KochiKame: Tokyo Beat Cops  ...  0.77 million
7   Demon Slayer: Kimetsu no Yaiba  ...  6.52 million
8                 Crayon Shin-chan  ...  2.55 million
9                         Oishinbo  ...  1.21 million
10                          Bleach  ...  1.62 million
11                       Slam Dunk  ...  3.87 million
12        JoJo's Bizarre Adventure  ...  0.91 million
13                       Astro Boy  ...  4.34 million
14                 Attack on Titan  ...  2.94 million
15          Fist of the North Star  ...  3.70 million
16        The Kindaichi Case Files  ...  1.14 million
17                           Touch  ...  3.84 million

[18 rows x 8 columns]

In [24]:
df.drop(df.columns[[1,2,3,4,5,6]], axis=1)

                              name             H
0                        One Piece  4.85 million
1                         Golgo 13  1.49 million
2                      Dragon Ball  6.19 million
3                           Naruto  3.47 million
4                  Detective Conan  2.50 million
5                         Doraemon  3.77 million
6       KochiKame: Tokyo Beat Cops  0.77 million
7   Demon Slayer: Kimetsu no Yaiba  6.52 million
8                 Crayon Shin-chan  2.55 million
9                         Oishinbo  1.21 million
10                          Bleach  1.62 million
11                       Slam Dunk  3.87 million
12        JoJo's Bizarre Adventure  0.91 million
13                       Astro Boy  4.34 million
14                 Attack on Titan  2.94 million
15          Fist of the North Star  3.70 million
16        The Kindaichi Case Files  1.14 million
17                           Touch  3.84 million

In [27]:
df = df.drop(df.columns[[1,2,3,4,5,6]], axis=1)

IndexError: ignored

In [28]:
df

                              name             H
0                        One Piece  4.85 million
1                         Golgo 13  1.49 million
2                      Dragon Ball  6.19 million
3                           Naruto  3.47 million
4                  Detective Conan  2.50 million
5                         Doraemon  3.77 million
6       KochiKame: Tokyo Beat Cops  0.77 million
7   Demon Slayer: Kimetsu no Yaiba  6.52 million
8                 Crayon Shin-chan  2.55 million
9                         Oishinbo  1.21 million
10                          Bleach  1.62 million
11                       Slam Dunk  3.87 million
12        JoJo's Bizarre Adventure  0.91 million
13                       Astro Boy  4.34 million
14                 Attack on Titan  2.94 million
15          Fist of the North Star  3.70 million
16        The Kindaichi Case Files  1.14 million
17                           Touch  3.84 million

In [31]:
df=df.sort_values(by='H', ascending=False)

In [32]:
df

                              name             H
7   Demon Slayer: Kimetsu no Yaiba  6.52 million
2                      Dragon Ball  6.19 million
0                        One Piece  4.85 million
13                       Astro Boy  4.34 million
11                       Slam Dunk  3.87 million
17                           Touch  3.84 million
5                         Doraemon  3.77 million
15          Fist of the North Star  3.70 million
3                           Naruto  3.47 million
14                 Attack on Titan  2.94 million
8                 Crayon Shin-chan  2.55 million
4                  Detective Conan  2.50 million
10                          Bleach  1.62 million
1                         Golgo 13  1.49 million
9                         Oishinbo  1.21 million
16        The Kindaichi Case Files  1.14 million
12        JoJo's Bizarre Adventure  0.91 million
6       KochiKame: Tokyo Beat Cops  0.77 million

In [34]:
df['H']=df['H'].str.replace('million','')

In [35]:
df

                              name      H
7   Demon Slayer: Kimetsu no Yaiba  6.52
2                      Dragon Ball  6.19
0                        One Piece  4.85
13                       Astro Boy  4.34
11                       Slam Dunk  3.87
17                           Touch  3.84
5                         Doraemon  3.77
15          Fist of the North Star  3.70
3                           Naruto  3.47
14                 Attack on Titan  2.94
8                 Crayon Shin-chan  2.55
4                  Detective Conan  2.50
10                          Bleach  1.62
1                         Golgo 13  1.49
9                         Oishinbo  1.21
16        The Kindaichi Case Files  1.14
12        JoJo's Bizarre Adventure  0.91
6       KochiKame: Tokyo Beat Cops  0.77

In [37]:
df.head(n=10)

                              name      H
7   Demon Slayer: Kimetsu no Yaiba  6.52
2                      Dragon Ball  6.19
0                        One Piece  4.85
13                       Astro Boy  4.34
11                       Slam Dunk  3.87
17                           Touch  3.84
5                         Doraemon  3.77
15          Fist of the North Star  3.70
3                           Naruto  3.47
14                 Attack on Titan  2.94

In [38]:
df=df.head(n=10)

In [39]:
df

                              name      H
7   Demon Slayer: Kimetsu no Yaiba  6.52
2                      Dragon Ball  6.19
0                        One Piece  4.85
13                       Astro Boy  4.34
11                       Slam Dunk  3.87
17                           Touch  3.84
5                         Doraemon  3.77
15          Fist of the North Star  3.70
3                           Naruto  3.47
14                 Attack on Titan  2.94

In [40]:
df.to_csv("manga_data.csv")

In [41]:
from google.colab import files

In [42]:
files.download("manga_data.csv")